<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<style>
	ul li {list-style-type:none;}
	.v-enter, .v-leave-to {
		opacity: 0;
		transform: translate(80px);
	}
	.v-enter-to, .v-leave {
		opacity: 1;
		transform: translate(0px);
	}
	.v-enter-active, .v-leave-active {
		transition: all .6s ease;
	}
	/*
		下面的.v-move 和 .v-leave-active 这样配合使用，
		能够实现列表后续的元素，渐渐地飘上来的效果。
	*/
	.v-move {
		transition: all .6s ease;
	}
	.v-leave-active {
		position: absolute;
	}
</style>
</head>
<body>
	<!-- 使用transition-group元素实现列表动画 -->
	<div id="app">
		<div>
			id: <input type="text" v-model="id" >			
			name: <input type="text" v-model="name" >
			<button type="button" @click="add">添加</button>
		</div>
		
		<ul>
			<!-- 
				为使用v-for的元素添加动画，必须使用transition-group元素 
				给transition-group元素添加一个apper属性，元素就会有一个入场的动画
			-->
			<transition-group appear>
				<!-- 使用transition-group时，其中的元素必须指定:key属性 -->
				<li v-for="(item,i) in list" :key="item.id" @click="del(i)">
					{{item.id}} -- {{item.name}}
				</li>
			</transition-group>
		</ul>
	</div>
	<script>
		var vue = new Vue({
			el:"#app",
			data: {
				id:'',
				name:'',
				list:[
					{id:1,name:"关羽"},
					{id:2,name:"张飞"},
					{id:3,name:"赵云"},
					{id:4,name:"马超"},
					{id:5,name:"黄忠"}
				]
			},
			methods: {
				add() {
					this.list.push({id:this.id, name:this.name});
				},
				del(i) {
					this.list.splice(i,1);
				}
			}
		});
	</script>	
</body>
</html>